# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Executable files
input
subject
strategyValid
demo.txt

# .out files (o/p files of program)
*.out
strategyResults.txt
